{% comment %}
    Renders an article card for a given blog with settings to show a condensed version or not.

    Expects:
    - article: {Object} Article object
    - condensed: {String} The setting changes the layout and items shown on card, accepts nothing (default), or "condensed"

    Usage:
    {% render 'article-card' article: article, style: "condensed" %}
{% endcomment %}

{%- if article and article != empty -%}
  <a href="{{ article.url }}" class="article-card __style-{% if style %}{{style}}{% else %}default{% endif %}">
    <div class="article-card__image">
      <img
        srcset="{%- if article.image.src.width >= 165 -%}{{ article.image.src | img_url: '165x' }} 165w,{%- endif -%}
          {%- if article.image.src.width >= 360 -%}{{ article.image.src | img_url: '360x' }} 360w,{%- endif -%}
          {%- if article.image.src.width >= 533 -%}{{ article.image.src | img_url: '533x' }} 533w,{%- endif -%}
          {%- if article.image.src.width >= 720 -%}{{ article.image.src | img_url: '720x' }} 720w,{%- endif -%}
          {%- if article.image.src.width >= 1000 -%}{{ article.image.src | img_url: '1000x' }} 1000w,{%- endif -%}
          {%- if article.image.src.width >= 1500 -%}{{ article.image.src | img_url: '1500x' }} 1500w,{%- endif -%}
          {{ article.image.src | img_url: 'master' }} {{ article.image.src.width }}w"
        src="{{ article.image.src | img_url: '533x' }}"
        sizes="100vw"
        alt="{{ article.image.src.alt | escape }}"
        loading="lazy"
        width="{{ article.image.width }}"
        height="{{ article.image.height }}"
      >
    </div>
    <div class="article-card__content">        
      <h3 class="article-card__content__heading {% if style == "horizontal" %}h5{% else %}h6{% endif %}">
        {{ article.title | truncate: 50 | escape }}
      </h3>
      <span class="article-card__content__date caption-sm">{{ article.published_at | date: "%B %Y" }}</span>
      {% if style != "condensed" %}
        <p class="article-card__content__text">{{ article.excerpt_or_content | strip_html | truncatewords: 30 }}</p>
      {% endif %}
    </div>
  </a>
{%- endif -%}
