{% comment %}
    Renders a submenu list, originally made to be used in a navigation dropdown

    Expects:
    - menu: {object} required
    - className: {string} optional

    Usage:
    {% render 'nav-dropdown-submenu' menu: menu %}
{% endcomment %}

{% if menu %}
  <div class="{{ className }} __submenu">
    <span class="{{ className }}__label p-lg">{{ menu.title }}</span>
      <ul class="{{ className }}__submenu-list">
        {% for link in menu.links %}
          <li>
            <a href="{{ link.url }}" class="p-sm">
              {{ link.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </span>
  </div>
{% endif %}