{% style %}
    #Accordions-{{ section.id }} {
      --topSpacingRatio: {{section.settings.top_spacing}} / 100;
      --bottomSpacingRatio: {{section.settings.bottom_spacing}} / 100;
    }
{% endstyle %}


{% comment %} Make sure user added accordions {% endcomment %}
{% if section.blocks.size > 0 %}

  {% comment %} Variables needed to gather category nav data {% endcomment %}
  {% assign default_category = "General" %}
  {% assign categories = default_category %}

  <div id="Accordions-{{ section.id }}" class="accordions color-{{section.settings.color_scheme}}">

    {% comment %} Loop through accoridions {% endcomment %}
    {%- for block in section.blocks -%}
      {% if block.settings.heading and block.settings.content %}

        {% comment %} Assign category variables {% endcomment %}
        {% assign category = default_category %}
        {% if block.settings.category %}
          {% assign category = block.settings.category %}
        {% endif %}
        {% assign category_handle = category | handleize %}

        {% comment %} Output accordion {% endcomment %}
        <div class="accordions__accordion {% if category == default_category %}__active{% endif %}" data-category="{{ category_handle }}">
          <input class="accordions__accordion__checkbox" type="checkbox" id="Item-{{section.id}}-{{forloop.index0}}">
          <label class="accordions__accordion__label" for="Item-{{section.id}}-{{forloop.index0}}">
            <h3 class="h4">{{block.settings.heading}}</h3>
            {% render 'svg-plus' %}
          </label>
          <div class="accordions__accordion__content">
            {{block.settings.content}}
          </div>
        </div>

        {% comment %} 
          Add accordion category to categories string, 
          which we will split into an array after the loop is completed 
        {% endcomment %}
        {% assign categories = categories | append: "$$$" | append: category %}
      {% endif %}
    {%- endfor -%}

    {% comment %} Split categories string into an array {% endcomment %}
    {% assign categories = categories | split: "$$$" | uniq %}

    {% comment %} 
      Output accordions nav if there's more than 
      one category to navigate through 
    {% endcomment %}
    {% if categories.size > 1 %}
      <ul class="accordions__nav">
        {%- for category in categories -%}
          {% assign category_handle = category | handleize %}

            {% comment %} Each nav item {% endcomment %}
            <li class="accordions__nav__item">
              {% comment %} Tag logic below sets listener on {% endcomment %}
              <accordions-button
                class="accordions__button caption {% if category == default_category %}__active{% endif %}"
                data-category="{{ category_handle }}"
              >
                {{ category }}
              </accordions-button>
            </li>
        {%- endfor -%}
      </ul>
    {% endif %}

    {% if section.settings.text %}
      <div class="accordions__text article-text">
        {{ section.settings.text }}
      </div>
    {% endif %}

  </div>
{% endif %}

{% javascript %}

  class AccordionsNavButton extends HTMLElement {
    constructor() {
      super();

      this.setupListener();
    }

    //Add a on click listener to every accordion category nav button
    setupListener() {
      this.addEventListener('click', this.updateCategory.bind(this));
    }

    //on category nav button click, updates what is active
    updateCategory() {

      //parent element for this section
      var thisSection = this.parentNode.parentNode.parentNode;
      //clicked on item's category
      var category = this.getAttribute('data-category');
      //all accordions in this section
      var faqItems = thisSection.querySelectorAll('.accordions__accordion');
      //all nav buttons
      var faqNavItems = thisSection.querySelectorAll('.accordions__button');

      //remove or add active class on accordions
      for ( var i = 0; i < faqItems.length; i++ ){
        if (faqItems[i].getAttribute('data-category') == category ){
          faqItems[i].classList.add('__active');
        }
        else {
          faqItems[i].classList.remove('__active');
        }
      }

      //remove active class on nav buttons
      for (var i = 0; i < faqNavItems.length; i++ ) {
        faqNavItems[i].classList.remove('__active');
      }

      //add active class on clicked item
      this.classList.add('__active');
    }
  }

  customElements.define('accordions-button', AccordionsNavButton);

{% endjavascript %}


{% schema %}
{
  "name": "Accordions",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "Text Content"
    },
    {
      "type": "richtext",
      "label": "Additional Information",
      "id": "text",
      "info": "Placed below the accordions"
    },
    {
      "type": "header",
      "content": "Settings"
    },
     {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "cream",
          "label": "Cream (Default)"
        },
        {
          "value": "dark-cream",
          "label": "Dark Cream"
        },
        {
          "value": "grass",
          "label": "Grass"
        },
        {
          "value": "sun",
          "label": "Sun"
        },
        {
          "value": "ground",
          "label": "Ground"
        },
        {
          "value": "sky",
          "label": "Sky"
        },
        {
          "value": "tan",
          "label": "Tan"
        }
      ],
      "default": "cream",
      "label": "Color Scheme"
    },
     {
      "type": "range",
      "id": "top_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Top Spacing",
      "default": 50
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Bottom Spacing",
      "default": 50
    }
  ],
  "blocks": [
    {
      "name": "Accordion",
      "type": "accordion",
      "settings": [
        {
          "type": "header",
          "content": "Text Content"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        },
        {
          "type": "text",
          "id": "category",
          "label": "Category",
          "default": "General",
          "info": "You can categorize your FAQ into categories like 'General' or 'Shipping'. If no category is written, this question will be cateorized as 'General'. The ability to navigate between categories will only display if there are two or more categories in this section."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Accordions"
    }
  ]
}
{% endschema %}
