{% style %}
    #Accordions-{{ section.id }} {
      --topSpacingRatio: {{section.settings.top_spacing}} / 100;
      --bottomSpacingRatio: {{section.settings.bottom_spacing}} / 100;
    }
{% endstyle %}

<div id="Accordions-{{ section.id }}" class="accordions color-{{section.settings.color_scheme}}"  
>
   {%- for block in section.blocks -%}
        {% if block.settings.heading and block.settings.content %}
          <div class="accordions__accordion">
            
            <input class="accordions__accordion__checkbox" type="checkbox" id="Item-{{section.id}}-{{forloop.index0}}">
            <label class="accordions__accordion__label" for="Item-{{section.id}}-{{forloop.index0}}">
              {% render 'svg-plus' %}
              <h3 class="h4">{{block.settings.heading}}</h3>
            </label>
            <div class="accordions__accordion__content">
              {{block.settings.content}}
            </div>
          </div>
      {% endif %}
    {%- endfor -%}
</div>


{% schema %}
{
  "name": "Accordions",
  "tag": "section",
  "class": "section",
  "settings": [
     {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "cream",
          "label": "Cream (Default)"
        },
        {
          "value": "dark-cream",
          "label": "Dark Cream"
        },
        {
          "value": "grass",
          "label": "Grass"
        },
        {
          "value": "sun",
          "label": "Sun"
        },
        {
          "value": "ground",
          "label": "Ground"
        },
        {
          "value": "sky",
          "label": "Sky"
        },
        {
          "value": "tan",
          "label": "Tan"
        }
      ],
      "default": "cream",
      "label": "Color Scheme"
    },
     {
      "type": "range",
      "id": "top_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Top Spacing",
      "default": 50
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Bottom Spacing",
      "default": 50
    }
  ],
  "blocks": [
    {
      "name": "Accordion",
      "type": "accordion",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Accordions"
    }
  ]
}
{% endschema %}
