{% style %}
    .blog-listings {
      --topSpacingRatio: {{section.settings.top_spacing}} / 100;
      --bottomSpacingRatio: {{section.settings.bottom_spacing}} / 100;
    }
{% endstyle %}

{%- if section.settings.blog.articles.size > 0  -%}
  <div id="Blog-listings-{{ section.id }}" class="blog-listings __style-{{ section.settings.image_style}} color-{{section.settings.color_scheme}}"  
  >
    <h2 class="blog-listings__heading h3">{{section.settings.blog.title}}</h2>
    <div class="blog-listings__container">
      {% for article in section.settings.blog.articles limit: 4 %}
        {% assign style = "default" %}
        {% if forloop.index0 != 0 %}
          {% assign style = "condensed" %}
        {% endif %}
        {% render 'article-card', article: article, style: style %}
      {% endfor %}

      <a class="blog-listings__button h4" href="{{section.settings.blog.url}}">
        <span>View More</span>
      </a>
    </div>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "Blog Listings",
  "tag": "section",
  "settings": [
    {
      "type": "blog",
      "id": "blog",
      "label": "Blog"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "Used as the 'View more' button's background image"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "cream",
          "label": "Cream (Default)"
        },
        {
          "value": "dark-cream",
          "label": "Dark Cream"
        },
        {
          "value": "grass",
          "label": "Grass"
        },
        {
          "value": "sun",
          "label": "Sun"
        },
        {
          "value": "ground",
          "label": "Ground"
        },
        {
          "value": "sky",
          "label": "Sky"
        },
        {
          "value": "tan",
          "label": "Tan"
        }
      ],
      "default": "cream",
      "label": "Color Scheme"
    },
    {
      "type": "header",
      "content": "Section Spacing"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Top Spacing",
      "default": 50
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Bottom Spacing",
      "default": 50
    }
  ],
  "presets": [
    {
      "name": "Blog Listings"
    }
  ]
}
{% endschema %}
