{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available when you add "Collection list" section in the Theme Editor.

  Theme Store required settings
  - Heading: title of the collection list section
  - Collection
{%- endcomment -%}
<style>
  .mdl-txt{padding-top:30px; font-size:24px; text-align:center;display: flex;justify-content: center;align-items: center;gap: 15px;}
  .mdl-txt a{font-size:18px; padding: 6px 24px;text-align: center;cursor: pointer;letter-spacing: 0;margin-bottom: 0;border-radius: 10px;background: #3d290d !important;color: #fff !important;font-weight: 400;text-transform: none !important;text-decoration: none;}
</style>

<section class="collection-list page-width">
  <div class="cat_holder">
  {% if section.settings.title != blank %}
    <h2 class="collection-list__title">{{ section.settings.title | escape }}</h2>
  {% endif %}
  <div class="cat_list_holder">
  {% for block in section.blocks %}
    {%- assign collection = collections[block.settings.collection] -%}

    <a href="{{ collection.url | default: "#" }}" class="collection-list-item" {{ block.shopify_attributes }}>
      {% if collection.image != blank or collection.products.first != blank %}
        {%- assign image_object = collection.image | default: collection.products.first.featured_image -%}
        <div class="collection-list__image">
          {% include 'responsive-image' with
            image: image_object,
            max_width: 480,
            max_height: 480
          %}
        </div>
      {% elsif collection == empty %}
        {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
        {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
      {% endif %}

      
      <p>{{ collection.title }}</p>
    </a>
  {% endfor %}
  </div>

  {% if section.blocks.size == 0 %}
    {% include 'no-blocks' %}
  {% endif %}
    <p class="mdl-txt">Most items available in multiple cut-sizes <a href="#inline" data-lity>Cut Size Guide</a></p>
    </div>


  <div id="inline" class="lity-hide">
    <div class="ymq-modal-content">
                          <h2>Cut-Size Guide</h2>
<p><strong>Powder/Ground</strong> &nbsp;- free flowing, finely sifted powders</p>
<p>Our finest ground always appears (or presents?) as a powder, but has different particle sizes depending on material, oil content, etc. Please refer to the specification for specific items.<br>Most powders named <strong>PW</strong> are sifted to <strong>-60 mesh</strong> = -0.01 inches = -0.25 mm<br>Most powders named <strong>GR</strong> are sifted to <strong>-40 or -30 mesh</strong> = 0.016-0.023 inches = 0.42-0.59 mm</p>
<p></p>
<p><strong>Tea Bag Cut</strong> or Fine Cut - free flowing small particles generally without fine powder</p>
<p></p>
<p>Tea Cut -<strong>TC</strong> is mostly sifted to <strong>-14/+60 mesh</strong> &nbsp;= 0.01-0.05 inches = 0.25-1.41 mm</p>
<p></p>
<p><strong>Cut &amp; Sift / Flakes / Tips</strong> - free flowing larger particles generally without fine powder</p>
<p></p>
<p>Cut &amp; Sift <strong>CS</strong> and Flakes <strong>FL</strong> are usually <strong>-6/+14 or/+30</strong> mesh<br>= 0.023/0.055-0.132 inches = 0.59/1.41 - 3.36 mm&nbsp;&nbsp;</p>
<p></p>
<p><strong>Whole</strong><br>Select items are offered in whole form. Sieve sizes vary by item, please refer to specs</p>
<p><strong>Black Pepper</strong><br>As per industry standards additional, more differentiated cut-sizes are available for Black Pepper, please refer to Organic Black Pepper specs.</p>
<p></p>
<p><img src="https://cdn.shopify.com/s/files/1/0562/9486/6967/files/bottom-logo.png?v=1747833809"></p>
</div>
  </div>
</section>

{% schema %}
  {
    "name": "Category list",
    "max_blocks": 12,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Collection list"
      }
    ],
    "blocks": [
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "label": "Collection",
            "id": "collection",
            "type": "collection"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Category list",
        "category": "Collection",
        "blocks": [
          {
            "type": "collection"
          },
          {
            "type": "collection"
          },
          {
            "type": "collection"
          }
        ]
      }
    ]
  }
{% endschema %}