{% style %}
    #Contact-form-{{ section.id }} {
      --topSpacingRatio: {{section.settings.top_spacing}} / 100;
      --bottomSpacingRatio: {{section.settings.bottom_spacing}} / 100;
    }
{% endstyle %}

<div id="Contact-form-{{ section.id }}" class="contact-form color-{{ section.settings.color_scheme }}">
    {% if section.blocks %}
      <form class="contact-form__form __form-styles" action="https://formspree.io/f/mnqwgrjp"  method="POST">
        <h2 class="contact-form__header h2">{{ section.settings.heading | escape }}</h2>

              {% comment %} <div class="contact-form__form__row">

                {% comment %} Gather name attribute for fields {% endcomment %}
                {% comment %} {% if block.settings.type-1 == "email" and requiredEmailUsed == false %}
                  {% assign name1 = "email" %}
                  {% assign requiredEmailUsed = true %}
                {% endif %}
                {% if block.settings.type-2 == "email" and requiredEmailUsed == false %}
                  {% assign name2 = "email" %}
                  {% assign requiredEmailUsed = true %}
                {% endif %} {% endcomment %}

                {% comment %} The fields {% endcomment %}
                <input type="{{ "text" }}" name="contact[{{ "name" }}]" placeholder="{{ section.settings.name_placeholder }}" value="{{ form.name1 }}" />
                <input type="{{ "text" }}" name="contact[{{ "email" }}]" placeholder="{{ section.settings.email_placeholder }}" value="{{ form.name2 }}"  />
              </div>

                <div class="contact-form__form__row">
                  <input type="{{ "text" }}" name="contact[{{ "phone" }}]" placeholder="{{ section.settings.phone_placeholder }}" value="{{ form.name1 }}" />
                <input type="{{ "text" }}" name="contact[{{ "subject" }}]" placeholder="{{ section.settings.subject_placeholder }}" value="{{ form.name2 }}"  />
            
                </div>

                {% comment %} Gather name attribute for field {% endcomment %}
                {% comment %} {% if requiredBodyUsed == false %}
                  {% assign name = "body" %}
                  {% assign requiredBodyUsed = true %}
                {% endif %} {% endcomment %}
              <textarea placeholder="{{ section.settings.message_placeholder }}" name="contact[{{ "body" }}]" rows="8"></textarea>

              <input type="submit" value="Submit" /> {% endcomment %}
        
          {%- if form.posted_successfully? -%}
            <div class="form-status form-status-list form__message" tabindex="-1" autofocus>{% render 'icon-success' %} {{ 'templates.contact.form.post_success' | t }}</div>
          {%- elsif form.errors -%}
            <div class="form__message">
              <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>{% render 'icon-error' %} {{ 'templates.contact.form.error_heading' | t }}</h2>
            </div>
            <ul class="form-status-list caption-large" role="list">
              <li>
                <a href="#ContactForm-email" class="link">
                  {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
                </a>
              </li>
            </ul>
          {%- endif -%}

        <div class="contact-form__form__row">
          <input type="{{ "text" }}" name="contact[{{ "name" }}]" placeholder="{{ section.settings.name_placeholder }}" value="{{ form.name1 }}" />
            <input
              autocomplete="email"
              type="email"
              id="ContactForm-email"
              name="contact[email]"
              spellcheck="false"
              autocapitalize="off"
              value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
              aria-required="true"
              {% if form.errors contains 'email' %}
                aria-invalid="true"
                aria-describedby="ContactForm-email-error"
              {% endif %}
              placeholder="{{ 'templates.contact.form.email' | t }}"
            >
            {%- if form.errors contains 'email' -%}
              <small class="contact__field-error" id="ContactForm-email-error">
                <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                <span class="form__message">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</span>
              </small>
            {%- endif -%}
        </div>
        <div class="contact-form__form__row">
          <input type="{{ "text" }}" name="contact[{{ "phone" }}]" placeholder="{{ section.settings.phone_placeholder }}" value="{{ form.name1 }}" />
          <input type="{{ "text" }}" name="contact[{{ "subject" }}]" placeholder="{{ section.settings.subject_placeholder }}" value="{{ form.name2 }}"  />
        </div>
        <textarea placeholder="{{ section.settings.message_placeholder }}" name="contact[{{ "body" }}]" rows="8"></textarea>
          <button type="submit">
            Submit
          </button>
      </form>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Contact Form",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Contact Form",
      "info": "You must add atleast one textarea row and one field of type 'email' in order for the contact form to subit successfully."
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Contact form",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "name_placeholder",
      "label": "Name Field Placeholder",
      "default": "Name"
    },
    {
      "type": "text",
      "id": "email_placeholder",
      "label": "Email Field Placeholder",
      "default": "Email"
    },
    {
      "type": "text",
      "id": "phone_placeholder",
      "label": "Phone Number Field Placeholder",
      "default": "Phone Number"
    },
    {
      "type": "text",
      "id": "subject_placeholder",
      "label": "Subject Field Placeholder",
      "default": "Subject"
    },
    {
      "type": "text",
      "id": "message_placeholder",
      "label": "Message Field Placeholder",
      "default": "Message"
    },
    {
      "type": "header",
      "content": "Settings"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "cream",
          "label": "Cream (Default)"
        },
        {
          "value": "dark-cream",
          "label": "Dark Cream"
        },
        {
          "value": "grass",
          "label": "Grass"
        },
        {
          "value": "sun",
          "label": "Sun"
        },
        {
          "value": "ground",
          "label": "Ground"
        },
        {
          "value": "sky",
          "label": "Sky"
        },
        {
          "value": "tan",
          "label": "Tan"
        }
      ],
      "default": "cream",
      "label": "Color Scheme"
    },
        {
      "type": "header",
      "content": "Section Spacing"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Top Spacing",
      "default": 50
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Bottom Spacing",
      "default": 50
    }
  ],
  "presets": [
    {
      "name": "Contact Form"
    }
  ]
}
{% endschema %}


