{% style %}
    .section-image {
      --topSpacingRatio: {{section.settings.top_spacing}} / 100;
      --bottomSpacingRatio: {{section.settings.bottom_spacing}} / 100;
    }
 {% endstyle %}

<div id="Section-image-{{ section.id }}" class="section-image color-{{section.settings.color_scheme}} __align-{{section.settings.alignment}}">
   {% if section.settings.hero %}
      <h1 class="rich-text__heading {{ section.settings.heading_size }}">{{ section.settings.heading | escape }}</h1>
   {% else %}
      <h3 class="rich-text__heading {{ section.settings.heading_size }}">{{ section.settings.heading | escape }}</h3>
   {% endif %}
   {% if section.settings.subheading %}
      <h2 class="split-section__text__heading">{{ section.settings.subheading }}</h1>
   {% endif %}
   {% if section.settings.content %}
      <p class="split-section__text__content">{{ section.settings.content }}</h1>
   {% endif %}
    {% if section.settings.button_link %}
         <a href={{section.settings.button_link}}>{{section.settings.button_label}}</a>
    {% endif %}
   {%- if section.settings.icon -%}
      <!--Image Here-->
   {%- endif -%}
</div>

{% schema %}
{
   "name":"Content with Bg Image",
   "tag":"section",
   "class":"section",
   "settings":[
      {
         "type":"text",
         "id":"heading",
         "label":"Section Heading"
      },
      {
         "type":"text",
         "id":"subheading",
         "label":"Subheading"
      },
      {
         "type": "header",
         "content": "Button"
      },       
      {
         "type": "text",
         "id": "button_label",
         "default": "Button label",
         "label": "Button Label"
      },
      {
         "type": "url",
         "id": "button_link",
         "label": "Button Link"
      },
      {
        "type":"richtext",
        "id":"content",
        "label":"Text Content"
      },
      {
         "type":"image_picker",
         "id":"background_image",
         "label":"Background Image"
      },
      {
         "type": "checkbox",
         "id": "hero",
         "label": "Use as hero?",
         "info": "Should be selected if this section is the first or second on a page and contains the page title."
      },
      {
         "type":"radio",
         "id":"alignment",
         "label":"Select Alignment",
         "options":[
            {
               "value":"left",
               "label":"Left"
            },
            {
               "value":"center",
               "label":"Center"
            },
            {
               "value":"right",
               "label":"Right"
            }
         ],
         "default":"left"
      },
      {
         "type": "checkbox",
         "id": "icon",
         "label": "Include Icon?",
         "info": "Adds an icon to the right of the section."
      },
      {
         "type":"select",
         "id":"color_scheme",
         "options":[
            {
               "value":"cream",
               "label":"Cream (Default)"
            },
            {
               "value":"dark-cream",
               "label":"Dark Cream"
            },
            {
               "value":"grass",
               "label":"Grass"
            },
            {
               "value":"sun",
               "label":"Sun"
            },
            {
               "value":"ground",
               "label":"Ground"
            },
            {
               "value":"sky",
               "label":"Sky"
            },
            {
               "value":"tan",
               "label":"Tan"
            }
         ],
         "default":"cream",
         "label":"Color Scheme"
      },
      {
         "type":"range",
         "id":"top_spacing",
         "min":0,
         "max":100,
         "step":10,
         "unit":"%",
         "label":"Top Spacing",
         "default":50
      },
      {
         "type":"range",
         "id":"bottom_spacing",
         "min":0,
         "max":100,
         "step":10,
         "unit":"%",
         "label":"Bottom Spacing",
         "default":50
      }
   ],
   "presets":[
      {
         "name":"Content with Bg Image"
      }
   ]
}

{% endschema %}
