{% style %}
    .content-slider {
      --topSpacingRatio: {{section.settings.top_spacing}} / 100;
      --bottomSpacingRatio: {{section.settings.bottom_spacing}} / 100;
    }
 {% endstyle %}

<div id="Content-slider-{{ section.id }}" class="content-slider color-{{section.settings.color_scheme}}">
      {%- for block in section.blocks -%}
         {%- case block.type -%}            
            {%- when 'text' -%}
              <img
                srcset="{%- if block.settings.image.width >= 375 -%}{{ block.settings.image | image_url: width: 375 }} 375w,{%- endif -%}
                  {%- if block.settings.image.width >= 550 -%}{{ block.settings.image | image_url: width: 550 }} 550w,{%- endif -%}
                  {%- if block.settings.image.width >= 750 -%}{{ block.settings.image | image_url: width: 750 }} 750w,{%- endif -%}
                  {%- if block.settings.image.width >= 1100 -%}{{ block.settings.image | image_url: width: 1100 }} 1100w,{%- endif -%}
                  {%- if block.settings.image.width >= 1500 -%}{{ block.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
                  {%- if block.settings.image.width >= 1780 -%}{{ block.settings.image | image_url: width: 1780 }} 1780w,{%- endif -%}
                  {%- if block.settings.image.width >= 2000 -%}{{ block.settings.image | image_url: width: 2000 }} 2000w,{%- endif -%}
                  {%- if block.settings.image.width >= 3000 -%}{{ block.settings.image | image_url: width: 3000 }} 3000w,{%- endif -%}
                  {%- if block.settings.image.width >= 3840 -%}{{ block.settings.image | image_url: width: 3840 }} 3840w,{%- endif -%}
                  รง {{ block.settings.image.width }}w"
                sizes="100vw"
                src="{{ block.settings.image | image_url: width: 1500 }}"
                loading="lazy"
                alt="{{ block.settings.image.alt | escape }}"
                width="{{ block.settings.image.width }}"
                height="{{ block.settings.image.height }}"
              >
              <p class="">{{block.settings.text}}</p>
              <p class="">- {{block.settings.author}}</p>
         {%- endcase -%}
      {%- endfor -%}
</div>

{% schema %}
{
  "name": "Content Slider",
  "tag": "section",
  "class": "section",
  "settings": [
    {
    "type": "select",
    "id": "color_scheme",
    "options": [
      {
        "value": "cream",
        "label": "Cream (Default)"
      },
      {
        "value": "dark-cream",
        "label": "Dark Cream"
      },
      {
        "value": "grass",
        "label": "Grass"
      },
      {
        "value": "sun",
        "label": "Sun"
      },
      {
        "value": "ground",
        "label": "Ground"
      },
      {
        "value": "sky",
        "label": "Sky"
      },
      {
        "value": "tan",
        "label": "Tan"
      }
      ],
      "default": "cream",
      "label": "Color Scheme"
    },
     {
      "type": "range",
      "id": "top_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Top Spacing",
      "default": 50
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Bottom Spacing",
      "default": 50
    }
  ],
  "blocks": [
    {
      "name": "Slide",
      "type": "text",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text Content"
        },
        {
          "type": "text",
          "id": "author",
          "label": "Author"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "Image displayed on left side of entire section"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Content Slider"
    }
  ]
}
{% endschema %}
