{% style %}
    .content-slider {
      --topSpacingRatio: {{section.settings.top_spacing}} / 100;
      --bottomSpacingRatio: {{section.settings.bottom_spacing}} / 100;
    }
 {% endstyle %}

<div id="Content-slider-{{ section.id }}" class="content-slider color-{{section.settings.color_scheme}}">
      {%- for block in section.blocks -%}
        {% assign slide = block.settings.slide %}
         {%- case block.type -%}
            {%- when 'image' -%}
              <img 
                  src="{{ slide.image.src | img_url: '90x' }}"
                  sizes="90px"
                  alt="{{ slide.image.src.alt | escape }}"
                  loading="lazy"
                  width="{{ slide.image.width }}"
                  height="{{ slide.image.height }}"
               >
            {%- when 'text' -%}
              <p class="collections-grid__collection__title h4">{{slide.text}}</p>
         {%- endcase -%}
      {%- endfor -%}
</div>

{% schema %}
{
  "name": "Content Slider",
  "tag": "section",
  "class": "section",
  "settings": [
    {
    "type": "select",
    "id": "color_scheme",
    "options": [
      {
        "value": "cream",
        "label": "Cream (Default)"
      },
      {
        "value": "dark-cream",
        "label": "Dark Cream"
      },
      {
        "value": "grass",
        "label": "Grass"
      },
      {
        "value": "sun",
        "label": "Sun"
      },
      {
        "value": "ground",
        "label": "Ground"
      },
      {
        "value": "sky",
        "label": "Sky"
      },
      {
        "value": "tan",
        "label": "Tan"
      }
      ],
      "default": "cream",
      "label": "Color Scheme"
    },
     {
      "type": "range",
      "id": "top_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Top Spacing",
      "default": 50
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Bottom Spacing",
      "default": 50
    }
  ],
  "blocks": [
    {
      "name": "Slide",
      "type": "text",
      "settings": [
        {
          "type": "text",
          "id": "Text",
          "label": "Text Content"
        },
        {
          "type": "text",
          "id": "Author",
          "label": "Author"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "Image displayed on left side of entire section"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Content Slider"
    }
  ]
}
{% endschema %}
