{% style %}
    #Content-slider-{{ section.id }} {
      --topSpacingRatio: {{section.settings.top_spacing}} / 100;
      --bottomSpacingRatio: {{section.settings.bottom_spacing}} / 100;
    }
 {% endstyle %}

<div id="Content-slider-{{ section.id }}" class="content-slider color-{{section.settings.color_scheme}}">
    <div class="content-slider__slides" data-flickity='{ 
      "wrapAround": true 
   }'>
      {%- for block in section.blocks -%}
        <div class="content-slider__slides__slide">
          <div class="content-slider__image">
             {%- if block.settings.image != blank -%}
                {% render 'next-gen-img', image: block.settings.image, alt: block.settings.alt %}
              {%- else -%}
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              {%- endif -%}
          </div>
          <div class="content-slider__text">
            <p class="content-slider__text__body">{{block.settings.text}}</p>
            <p class="content-slider__text__author">- {{block.settings.author}}</p>
          </div>
        </div>
      {%- endfor -%}
    </div>
</div>

{% schema %}
{
  "name": "Content Slider",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Settings"
    },
    {
    "type": "select",
    "id": "color_scheme",
    "options": [
      {
        "value": "cream",
        "label": "Cream (Default)"
      },
      {
        "value": "dark-cream",
        "label": "Dark Cream"
      },
      {
        "value": "grass",
        "label": "Grass"
      },
      {
        "value": "sun",
        "label": "Sun"
      },
      {
        "value": "ground",
        "label": "Ground"
      },
      {
        "value": "sky",
        "label": "Sky"
      },
      {
        "value": "tan",
        "label": "Tan"
      }
      ],
      "default": "cream",
      "label": "Color Scheme"
    },
     {
      "type": "range",
      "id": "top_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Top Spacing",
      "default": 50
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Bottom Spacing",
      "default": 50
    }
  ],
  "blocks": [
    {
      "name": "Slide",
      "type": "slide",
      "settings": [
        {
          "type": "header",
          "content": "Text Content"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "text",
          "id": "author",
          "label": "Author"
        },
        {
          "type": "header",
          "content": "Image"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "Image displayed on left side of slide."
        },
        {
          "type": "text",
          "id": "alt",
          "label": "Image Alt Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Content Slider"
    }
  ]
}
{% endschema %}
