{% style %}
    #Featured-articles-{{ section.id }} {
      --topSpacingRatio: {{section.settings.top_spacing}} / 100;
      --bottomSpacingRatio: {{section.settings.bottom_spacing}} / 100;
    }
 {% endstyle %}

<div id="Featured-articles-{{ section.id }}" class="featured-articles color-{{section.settings.color_scheme}}">

   {% if section.settings.heading %}
      <h2 class="featured-articles__heading h4">{{ section.settings.heading }}</h2>
   {% endif %}

   {% for block in section.blocks %}
      {% assign article = block.settings.article %}

      {% render 'article-card', article: article %}
   {% endfor %}

   {% if section.settings.button_label and section.settings.button_link %}
      <div class="featured-articles__btn">
         <a href="{{ section.settings.button_link }}" class="btn">{{ section.settings.button_label }}</a>
      </div>
   {% endif %}
 
</div>

{% schema %}
{
   "name": "Featured Articles",
   "tag": "section",
   "class": "section",
   "settings": [
      {
         "type": "header",
         "content": "Text Content"
      },
      {
         "type": "text",
         "id": "heading",
         "label":"Heading"
      },
      {
         "type": "header",
         "content": "Button"
      },       
      {
         "type": "text",
         "id": "button_label",
         "default": "Button label",
         "label": "Button Label"
      },
      {
         "type": "url",
         "id": "button_link",
         "label": "Button Link"
      },
      {
         "type": "header",
         "content": "Settings"
      },
      {
         "type":"select",
         "id":"color_scheme",
         "options":[
            {
               "value": "cream",
               "label":"Cream (Default)"
            },
            {
               "value":"dark-cream",
               "label":"Dark Cream"
            },
            {
               "value":"grass",
               "label":"Grass"
            },
            {
               "value":"sun",
               "label":"Sun"
            },
            {
               "value":"ground",
               "label":"Ground"
            },
            {
               "value":"sky",
               "label":"Sky"
            },
            {
               "value":"tan",
               "label":"Tan"
            }
         ],
         "default":"cream",
         "label":"Color Scheme"
      },
      {
         "type":"range",
         "id":"top_spacing",
         "min":0,
         "max":100,
         "step":10,
         "unit":"%",
         "label":"Top Spacing",
         "default":50
      },
      {
         "type":"range",
         "id":"bottom_spacing",
         "min":0,
         "max":100,
         "step":10,
         "unit":"%",
         "label":"Bottom Spacing",
         "default":50
      }
   ],
   "blocks":[
      {
         "type": "header",
         "content": "Select Articles"
      },
      {
         "type":"article",
         "name":"Article",
         "limit":2,
         "settings":[
            {
               "type":"article",
               "id":"article",
               "label":"Article"
            }
         ]
      }
   ],
   "presets":[
      {
         "name":"Featured Articles"
      }
   ]
}
{% endschema %}
