{% style %}
    #Featured-page-link-{{ section.id }} {
      --topSpacingRatio: {{section.settings.top_spacing}} / 100;
      --bottomSpacingRatio: {{section.settings.bottom_spacing}} / 100;
    }
{% endstyle %}

<div id="Featured-page-link-{{ section.id }}" class="featured-page-link color-{{section.settings.color_scheme}}"  
>
  <div class="featured-page-link__inner">
    {%- if section.settings.page_link.url != blank -%}
      <a href="{{section.settings.page_link.url}}" class="featured-page-link__link h1">
        <span>{{section.settings.page_link.title}}</span>
        {% render 'svg-arrow' %}
      </a>
   {% else %}
      <a href="/" class="featured-page-link__link h1">
        <span>Link Here</span>
        {% render 'svg-arrow' %}
      </a>
    {%- endif -%}
    {%- if section.settings.image != blank -%}
      {% render 'next-gen-img', image: section.settings.image, alt: section.settings.alt %}
    {%- elsif section.settings.image_2 == blank -%}
      {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "Featured Page Link",
  "tag": "section",
  "settings": [
    {
      "type": "page",
      "id": "page_link",
      "label": "Page To Link To"
    },
    {
      "type": "header",
      "content": "Image Options"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "alt",
      "label": "Alt"
    },
    {
      "type": "header",
      "content": "Settings"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "cream",
          "label": "Cream (Default)"
        },
        {
          "value": "dark-cream",
          "label": "Dark Cream"
        },
        {
          "value": "grass",
          "label": "Grass"
        },
        {
          "value": "sun",
          "label": "Sun"
        },
        {
          "value": "ground",
          "label": "Ground"
        },
        {
          "value": "sky",
          "label": "Sky"
        },
        {
          "value": "tan",
          "label": "Tan"
        }
      ],
      "default": "cream",
      "label": "Color Scheme"
    },
    {
      "type": "header",
      "content": "Section Spacing"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Top Spacing",
      "default": 0
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Bottom Spacing",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "Featured Page Link"
    }
  ]
}
{% endschema %}
