{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{% comment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
{% endcomment %}
<link rel="stylesheet" href="{{ 'component-newsletter.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-payment.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-social.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'disclosure.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-social.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'disclosure.css' | asset_url | stylesheet_tag }}</noscript>


{% assign icons = false %}
{% render 'newsletter-row' %}

<footer class="section-footer color-{{ section.settings.color_scheme }}">
  <div class="section-footer__plant-decor">
    {% for i in (1..5) %}
      {% render 'svg-plants' %}
    {% endfor %}
  </div>
    <div class="section-footer__branding__logo">{% render 'svg-logo-stacked' %}</div>
    {%- if section.settings.address -%}
      <div class="section-footer__branding__info">
        {{ section.settings.address }}
      </div>
    {%- endif -%}
  {%- if section.blocks.size > 0 -%}
      {%- for block in section.blocks -%}
        
          {%- case block.type -%}
            {%- when 'link_list' -%}
              <div class="section-footer__blocks__block" {{ block.shopify_attributes }}>
                {%- if block.settings.heading != blank -%}
                  <p class="section-footer__header caption">{{- block.settings.heading | escape -}}</p>
                {%- endif -%}
                {%- if block.settings.menu != blank and block.settings.heading != blank -%}
                  <ul class="section-footer__links list-unstyled">
                    {%- for link in block.settings.menu.links -%}
                      <li class="section-footer__links__item">
                        <a class="section-footer__links__item__link p-sm" href="{{ link.url }}">
                          {{ link.title }}
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                {%- endif -%}
              </div>
              

              {%- when 'icon' -%}
                {% assign icons = true %}
            {%- endcase -%}
        
      {%- endfor -%}
  {%- endif -%}


  {% if icons == true %}
    <div class="section-footer__badges">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'icon' -%}
            <div class="section-footer__badges__badge">
              {%- if block.settings.icon != blank -%}
                {% render 'next-gen-img', image: block.settings.icon %}
              {%- endif -%}
            </div>      
          {%- endcase -%}
      {%- endfor -%}
    </div>
{% endif %}

  <div class="section-footer__bottom">

    <small class="section-footer__bottom__copywright p-sm">&copy; {{ shop.name }}. {{ 'now' | date: "%Y" }}</small>

    {%- if section.settings.secondary_links %}
      <ul class="section-footer__bottom__sec-links section-footer__links list-unstyled">
        {%- for link in section.settings.secondary_links.links -%}
          <li class="section-footer__links__item">
            <a class="section-footer__links__item__link p-sm" href="{{ link.url }}">
              {{ link.title }}
            </a>
          </li>
        {%- endfor -%}
      </ul>
    {%- endif -%}

    {%- if section.settings.show_social -%}
      <div class="section-footer__bottom__social">
        {% render 'social-icons' %}
      </div>
    {%- endif -%}
  </div>
</footer>


{% schema %}
{
  "name": "Footer",
  "blocks": [
    {
      "type": "link_list",
      "name": "Menu",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Quick links",
          "label": "Heading",
          "info": "Heading required to display the menu."
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "Menu",
          "info": "Displays only top-level menu items."
        }
      ]
    },
    {
      "type": "icon",
      "name": "Icon",
      "settings": [
          {
            "type":"image_picker",
            "id":"icon",
            "label":"Icon"
          }
      ]
    }
  ],
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "cream",
          "label": "Cream (Default)"
        },
        {
          "value": "dark-cream",
          "label": "Dark Cream"
        },
        {
          "value": "grass",
          "label": "Grass"
        },
        {
          "value": "sun",
          "label": "Sun"
        },
        {
          "value": "ground",
          "label": "Ground"
        },
        {
          "value": "sky",
          "label": "Sky"
        },
        {
          "value": "tan",
          "label": "Tan"
        }
      ],
      "default": "cream",
      "label": "Color Scheme"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "default": "Subscribe to our newsletter",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "newsletter_description",
      "label": "Description"
    },
    {
      "type": "header",
      "content": "Social Media Icons",
      "info": "To display your social media accounts, link them in your theme settings."
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": false,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "richtext",
      "id": "address",
      "label": "Address"
    },
    {
      "type": "link_list",
      "info": "Displays only top-level menu items.",
      "id": "secondary_links",
      "label": "Secondary Links"
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      }
    ]
  }
}
{% endschema %}
