{% style %}
  .gallery {
    --topSpacingRatio: {{section.settings.top_spacing}} / 100;
    --bottomSpacingRatio: {{section.settings.bottom_spacing}} / 100;
  }
{% endstyle %}

<div id="Gallery-{{ section.id }}" class="gallery color-{{section.settings.color_scheme}}">
  {%- for block in section.blocks -%}
      {%- case block.type -%}            
        {%- when 'image' -%}
          <img 
              src="{{ block.settings.image.src | img_url: '90x' }}"
              sizes="90px"
              alt="{{ block.settings.image.alt | escape }}"
              loading="lazy"
              width="{{ collection.image.width }}"
              height="{{ collection.image.height }}"
            >
      {%- endcase -%}
    {%- endfor -%}
</div>

{% schema %}
{
  "name": "Gallery",
  "tag": "section",
  "class": "section",
  "settings": [
     {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "cream",
          "label": "Cream (Default)"
        },
        {
          "value": "dark-cream",
          "label": "Dark Cream"
        },
        {
          "value": "grass",
          "label": "Grass"
        },
        {
          "value": "sun",
          "label": "Sun"
        },
        {
          "value": "ground",
          "label": "Ground"
        },
        {
          "value": "sky",
          "label": "Sky"
        },
        {
          "value": "tan",
          "label": "Tan"
        }
      ],
      "default": "cream",
      "label": "Color Scheme"
    },
     {
      "type": "range",
      "id": "top_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Top Spacing",
      "default": 50
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Bottom Spacing",
      "default": 50
    }
  ],
  "blocks": [
    {
      "name": "Image",
      "type": "image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "alt",
          "default": "Image alt text",
          "label": "Alt"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Gallery"
    }
  ]
}
{% endschema %}
