{% style %}
  #Gallery-{{ section.id }} {
    --topSpacingRatio: {{section.settings.top_spacing}} / 100;
    --bottomSpacingRatio: {{section.settings.bottom_spacing}} / 100;
  }
{% endstyle %}

{% if section.blocks.size > 0 %}
  <div id="Gallery-{{ section.id }}" class="gallery color-{{section.settings.color_scheme}}">
    <div class="gallery__slider" data-flickity='{ 
      "pageDots": false, 
      "wrapAround": true,
      "autoPlay": 5000,
      "selectedAttraction": 0.0025,
      "friction": 1.2,
      "prevNextButtons": false
    }'>
      {% comment %} Output our images twice to avoid seeing a flash when the slider re-places each slide's position {% endcomment %}
      {% for i in (1..2) %}
        {%- for block in section.blocks -%}
          {% assign exteriorIndex = forloop.index0 %}
          {% assign imagePlacement = forloop.index | modulo: 6 %}
           
          {% comment %} Output container with 2 images in it {% endcomment %}
          {% if imagePlacement == 1 %}
            <div class="gallery__group-of-2">
              {% for i in (1..2) %}
                {% assign indexToCheck = forloop.index0 | plus: exteriorIndex %}
                <div class="gallery__image">
                  {% render 'next-gen-img', image: section.blocks[indexToCheck].settings.image, alt: section.blocks[indexToCheck].settings.alt %}
                </div>
              {% endfor %}
            </div>
          {% endif %}

          {% comment %} Output container with 4 images in it {% endcomment %}
          {% if imagePlacement == 3 %}
            <div class="gallery__group-of-4">
              {% for i in (1..4) %}
                {% assign indexToCheck = forloop.index0 | plus: exteriorIndex %}
                <div class="gallery__image">
                  {% render 'next-gen-img', image: section.blocks[indexToCheck].settings.image, alt: section.blocks[indexToCheck].settings.alt %}
                </div>
              {% endfor %}
            </div>
          {% endif %}
        {%- endfor -%}
      {%- endfor -%}
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "Gallery",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "Settings"
    },
     {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "cream",
          "label": "Cream (Default)"
        },
        {
          "value": "dark-cream",
          "label": "Dark Cream"
        },
        {
          "value": "grass",
          "label": "Grass"
        },
        {
          "value": "sun",
          "label": "Sun"
        },
        {
          "value": "ground",
          "label": "Ground"
        },
        {
          "value": "sky",
          "label": "Sky"
        },
        {
          "value": "tan",
          "label": "Tan"
        }
      ],
      "default": "cream",
      "label": "Color Scheme"
    },
     {
      "type": "range",
      "id": "top_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Top Spacing",
      "default": 50
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Bottom Spacing",
      "default": 50
    }
  ],
  "blocks": [
    {
      "name": "Image",
      "type": "image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "alt",
          "default": "Image alt text",
          "label": "Alt"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Gallery"
    }
  ]
}
{% endschema %}
