{% style %}
    .icons-row {
      --topSpacingRatio: {{section.settings.top_spacing}} / 100;
      --bottomSpacingRatio: {{section.settings.bottom_spacing}} / 100;
    }
 {% endstyle %}

<div id="Icons-row-{{ section.id }}" class="icons-row color-{{section.settings.color_scheme}}">
   {% if section.settings.heading %}
      <h2 class="icons-row_text__heading">{{ section.settings.heading }}</h2>
   {% endif %}
   {%- for block in section.blocks -%}
         {%- case block.type -%}
            {%- when 'image' -%}
               <img 
                  src="{{ block.settings.icon.src | img_url: '90x' }}"
                  sizes="90px"
                  alt="{{ block.settings.icon.src.alt | escape }}"
                  loading="lazy"
                  width="{{ collection.image.width }}"
                  height="{{ collection.image.height }}"
               >
               <p>{{block.settings.text }}</p>
         {%- endcase -%}
      {%- endfor -%}
</div>

{% schema %}
{
  "name": "Icons Row",
  "tag": "section",
  "class": "section",
   "settings":[
      {
         "type":"text",
         "id":"heading",
         "label":"Section Heading"
      },
      {
         "type":"select",
         "id":"color_scheme",
         "options":[
            {
               "value":"cream",
               "label":"Cream (Default)"
            },
            {
               "value":"dark-cream",
               "label":"Dark Cream"
            },
            {
               "value":"grass",
               "label":"Grass"
            },
            {
               "value":"sun",
               "label":"Sun"
            },
            {
               "value":"ground",
               "label":"Ground"
            },
            {
               "value":"sky",
               "label":"Sky"
            },
            {
               "value":"tan",
               "label":"Tan"
            }
         ],
         "default":"cream",
         "label":"Color Scheme"
      },
      {
         "type":"range",
         "id":"top_spacing",
         "min":0,
         "max":100,
         "step":10,
         "unit":"%",
         "label":"Top Spacing",
         "default":50
      },
      {
         "type":"range",
         "id":"bottom_spacing",
         "min":0,
         "max":100,
         "step":10,
         "unit":"%",
         "label":"Bottom Spacing",
         "default":50
      }
   ],
   "blocks":[
      {
         "type":"image",
         "name":"Icon",
         "settings":[
            {
               "type":"image_picker",
               "id":"icon",
               "label":"Icon"
            },
            {
               "type":"text",
               "id":"text",
               "label":"Icon Text"
            }
         ]
      }
   ],
   "presets":[
      {
         "name":"Icons Row"
      }
   ]
}
{% endschema %}
