{% style %}
    .icons-row {
      --topSpacingRatio: {{section.settings.top_spacing}} / 100;
      --bottomSpacingRatio: {{section.settings.bottom_spacing}} / 100;
    }
 {% endstyle %}

<div id="Icons-row-{{ section.id }}" class="icons-row color-{{section.settings.color_scheme}}">
   {% if section.settings.heading %}
      <h2 class="icons-row_text__heading">{{ section.settings.heading }}</h2>
   {% endif %}

   <div class="featured-cards">
      <div class="carousel"
   data-flickity='{ "cellAlign": "left", "contain": true }'
            {% for block in section.blocks %}
         <div class="carousel-cell">
                     <img
                        srcset="{%- if block.settings.icon.width >= 375 -%}{{ block.settings.icon | image_url: width: 375 }} 375w,{%- endif -%}
                        {%- if block.settings.icon.width >= 550 -%}{{ block.settings.icon | image_url: width: 550 }} 550w,{%- endif -%}
                        {%- if block.settings.icon.width >= 750 -%}{{ block.settings.icon | image_url: width: 750 }} 750w,{%- endif -%}
                        {%- if block.settings.icon.width >= 1100 -%}{{ block.settings.icon | image_url: width: 1100 }} 1100w,{%- endif -%}
                        {%- if block.settings.icon.width >= 1500 -%}{{ block.settings.icon | image_url: width: 1500 }} 1500w,{%- endif -%}
                        {%- if block.settings.icon.width >= 1780 -%}{{ block.settings.icon | image_url: width: 1780 }} 1780w,{%- endif -%}
                        {%- if block.settings.icon.width >= 2000 -%}{{ block.settings.icon | image_url: width: 2000 }} 2000w,{%- endif -%}
                        {%- if block.settings.icon.width >= 3000 -%}{{ block.settings.icon | image_url: width: 3000 }} 3000w,{%- endif -%}
                        {%- if block.settings.icon.width >= 3840 -%}{{ block.settings.icon | image_url: width: 3840 }} 3840w,{%- endif -%}
                        รง {{ block.settings.icon.width }}w"
                        sizes="100vw"
                        src="{{ block.settings.icon | image_url: width: 1500 }}"
                        loading="lazy"
                        alt="{{ block.settings.icon.alt | escape }}"
                        width="{{ block.settings.icon.width }}"
                        height="{{ block.settings.icon.height }}"
                     >
                     <p>{{block.settings.text }}</p>
                     </div>
            {% endfor %}
      </div>
   </div>   
</div>


{% schema %}
{
  "name": "Icons Row",
  "tag": "section",
  "class": "section",
   "settings":[
      {
         "type":"text",
         "id":"heading",
         "label":"Section Heading"
      },
      {
         "type":"select",
         "id":"color_scheme",
         "options":[
            {
               "value":"cream",
               "label":"Cream (Default)"
            },
            {
               "value":"dark-cream",
               "label":"Dark Cream"
            },
            {
               "value":"grass",
               "label":"Grass"
            },
            {
               "value":"sun",
               "label":"Sun"
            },
            {
               "value":"ground",
               "label":"Ground"
            },
            {
               "value":"sky",
               "label":"Sky"
            },
            {
               "value":"tan",
               "label":"Tan"
            }
         ],
         "default":"cream",
         "label":"Color Scheme"
      },
      {
         "type":"range",
         "id":"top_spacing",
         "min":0,
         "max":100,
         "step":10,
         "unit":"%",
         "label":"Top Spacing",
         "default":50
      },
      {
         "type":"range",
         "id":"bottom_spacing",
         "min":0,
         "max":100,
         "step":10,
         "unit":"%",
         "label":"Bottom Spacing",
         "default":50
      }
   ],
   "blocks":[
      {
         "type":"image",
         "name":"Icon",
         "settings":[
            {
               "type":"image_picker",
               "id":"icon",
               "label":"Icon"
            },
            {
               "type":"text",
               "id":"text",
               "label":"Icon Text"
            }
         ]
      }
   ],
   "presets":[
      {
         "name":"Icons Row"
      }
   ]
}
{% endschema %}
