{% style %}
    #Icons-row-{{ section.id }} {
      --topSpacingRatio: {{section.settings.top_spacing}} / 100;
      --bottomSpacingRatio: {{section.settings.bottom_spacing}} / 100;
    }
 {% endstyle %}

<div id="Icons-row-{{ section.id }}" class="icons-row color-{{section.settings.color_scheme}}">
   {% if section.settings.heading %}
      <h2 class="icons-row__heading caption">{{ section.settings.heading }}</h2>
   {% endif %}

   <div class="icons-row__icons" data-flickity='{ 
      "pageDots": false, 
      "wrapAround": true, 
      "watchCSS": true
   }'>
      {% for block in section.blocks %}
         <div class="icons-row__icons__icon" {{ block.shopify_attributes }}>
              {% if block.settings.alt == "" %} 
               {% render 'next-gen-img', image: block.settings.icon, alt: 'Pure Ground Ingredients' %}
            {% else %} 
               {% render 'next-gen-img', image: block.settings.icon, alt: block.settings.alt %}
            {% endif %}
         </div>
      {% endfor %}
   </div>   
</div>


{% schema %}
{
  "name": "Icons Row",
  "tag": "section",
  "class": "section",
   "settings":[
      {
         "type": "header",
         "content": "Text Content"
      },
      {
         "type": "text",
         "id": "heading",
         "label":"Heading"
      },
      {
         "type": "header",
         "content": "Settings"
      },
      {
         "type":"select",
         "id":"color_scheme",
         "options":[
            {
               "value":"cream",
               "label":"Cream (Default)"
            },
            {
               "value":"dark-cream",
               "label":"Dark Cream"
            },
            {
               "value":"grass",
               "label":"Grass"
            },
            {
               "value":"sun",
               "label":"Sun"
            },
            {
               "value":"ground",
               "label":"Ground"
            },
            {
               "value":"sky",
               "label":"Sky"
            },
            {
               "value":"tan",
               "label":"Tan"
            }
         ],
         "default":"cream",
         "label":"Color Scheme"
      },
      {
         "type":"range",
         "id":"top_spacing",
         "min":0,
         "max":100,
         "step":10,
         "unit":"%",
         "label":"Top Spacing",
         "default":50
      },
      {
         "type":"range",
         "id":"bottom_spacing",
         "min":0,
         "max":100,
         "step":10,
         "unit":"%",
         "label":"Bottom Spacing",
         "default":50
      }
   ],
   "blocks":[
      {
         "type":"icon",
         "name":"Icon",
         "settings":[
            {
               "type":"image_picker",
               "id":"icon",
               "label":"Icon"
            },
            {
               "type":"text",
               "id":"alt",
               "label":"Alt Text",
               "info": "Used for screen readers and SEO. Not displayed visually."
            }
         ]
      }
   ],
   "presets":[
      {
         "name":"Icons Row"
      }
   ]
}
{% endschema %}
