{% style %}
    #Icons-section-{{ section.id }} {
      --topSpacingRatio: {{section.settings.top_spacing}} / 100;
      --bottomSpacingRatio: {{section.settings.bottom_spacing}} / 100;
      --iconHeight: {{section.settings.icon_height}}px;
    }

   @media screen and (max-width: 676px) {
      {% if section.settings.icon_height > 400 %}
         #Icons-section-{{ section.id }} {
            --iconHeight: {{ section.settings.icon_height | times: 0.6}}px;
         }
      {% endif %}
   }
 {% endstyle %}

<div id="Icons-section-{{ section.id }}" class="icons-section color-{{section.settings.color_scheme}} {% if section.settings.image != blank %}__has-image{% endif %}"  
>
   {%- if section.settings.image != blank -%}
      <div class="icons-section__image">
         {% render 'next-gen-img', image: section.settings.image, alt: section.settings.alt %}
      </div>
   {%- endif -%}
   

   {% if section.settings.caption != "" or section.settings.heading != "" or section.settings.subheading != "" or section.settings.text != "" or section.settings.button_link != "" and section.settings.button_label != "" %}
      <div class="icons-section__text{% if section.settings.center_content %}-center{% endif %}">
         {% if section.settings.caption %}
            <span class="icons-section__text__caption">{{ section.settings.caption }}</span>
         {% endif %}
         {% if section.settings.heading %}
            <h2 class="icons-section__text__heading {% if section.settings.heading_size %}{{section.settings.heading_size}}{% endif %} {% if section.settings.accent_color %}__accent-color{% endif %}">
               {{ section.settings.heading }}
            </h2>
         {% endif %}
         {% if section.settings.subheading %}
            <h3 class="icons-section__text__subheading h5">{{ section.settings.subheading }}</h3>
         {% endif %}
         {% if section.settings.text %}
            <div class="icons-section__text__text">{{ section.settings.text }}</div>
         {% endif %}

         {% render 'button', class: "icons-section", button_label: section.settings.button_label, button_link: section.settings.button_link, button_color: section.settings.button_color %}
      </div>
   {% endif %}

   <div class="icons-section__icons __layout-{% if section.settings.layout %}{{ section.settings.layout }}{% else %}default{% endif%}">
      {%- for block in section.blocks -%}
         {%- case block.type -%}
            {%- when 'image' -%}
               <div class="icons-section__icons__icon">
                  {%- if block.settings.icon != blank -%}
                     {% render 'next-gen-img', image: block.settings.icon %}
                  {%- else -%}
                     {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                  {%- endif -%}

                  {% if block.settings.text != "" %}
                     <p class="p-sm">{{block.settings.text }}</p>
                  {% endif %}
               </div>         
         {%- endcase -%}
      {%- endfor -%}
   </div>
</div>

{% schema %}
{
  "name": "Icons Section",
  "tag": "section",
  "class": "section",
   "settings":[
   {
      "type": "header",
      "content": "Text Content"
   },
   {
      "type": "text",
      "id": "caption",
      "label": "Caption"
   },
   {
      "type": "text",
      "id": "heading",
      "label": "Heading"
   },
   {
      "type": "text",
      "id": "subheading",
      "label": "Subheading"
   },
   {
      "type": "select",
      "id": "heading_size",
      "options": [
         {
            "value": "h1",
            "label": "X-Large"
         },
         {
            "value": "h2",
            "label": "Large (Default)"
         },
         {
            "value": "h3",
            "label": "Medium"
         },
         {
            "value": "h4",
            "label": "Small"
         }
         ],
         "default": "h2",
         "label": "Heading Size"
      },
      {
         "type": "checkbox",
         "id": "accent_color",
         "label": "Add accent color?"
      },
      {
         "type": "checkbox",
         "id": "center_content",
         "label": "Center Text Content?"
      },
      {
         "type": "richtext",
         "id": "text",
         "label": "Description"
      },
      {
         "type": "text",
         "id": "button_label",
         "default": "Button label",
         "label": "Button Label"
      },
      {
         "type": "url",
         "id": "button_link",
         "label": "Button Link"
      },
      {
         "type": "header",
         "content": "Image Content"
      },  
      {
         "type": "image_picker",
         "id": "image",
         "label": "Image",
         "info": "Optional. Placed on the left."
      },
      {
         "type": "text",
         "id": "alt",
         "label": "Alt"
      },
      {
         "type": "header",
         "content": "Settings"
      },
      {
         "type": "select",
         "id": "layout",
         "options": [
            {
               "value":"three-col",
               "label":"Three Columns (Default)"
            },
            {
               "value":"row",
               "label":"Row(s)"
            },
            {
               "value":"two-col",
               "label":"Two Columns"
            },
            {
               "value":"one-col",
               "label":"One Column"
            }
         ],
         "default":"three-col",
         "label":"Layout"
      },
      {
         "type":"range",
         "id":"icon_height",
         "min":50,
         "max":500,
         "step":10,
         "unit":"px",
         "label":"Icon Height",
         "default":100
      },
      {
         "type":"select",
         "id":"color_scheme",
         "options":[
            {
               "value":"cream",
               "label":"Cream (Default)"
            },
            {
               "value":"dark-cream",
               "label":"Dark Cream"
            },
            {
               "value":"grass",
               "label":"Grass"
            },
            {
               "value":"sun",
               "label":"Sun"
            },
            {
               "value":"ground",
               "label":"Ground"
            },
            {
               "value":"sky",
               "label":"Sky"
            },
            {
               "value":"tan",
               "label":"Tan"
            }
         ],
         "default":"cream",
         "label":"Color Scheme"
      },
      {
         "type":"range",
         "id":"top_spacing",
         "min":0,
         "max":100,
         "step":10,
         "unit":"%",
         "label":"Top Spacing",
         "default":50
      },
      {
         "type":"range",
         "id":"bottom_spacing",
         "min":0,
         "max":100,
         "step":10,
         "unit":"%",
         "label":"Bottom Spacing",
         "default":50
      }
   ],
   "blocks":[
      {
         "type":"image",
         "name":"Icon",
         "settings":[
          {
            "type":"image_picker",
            "id":"icon",
            "label":"Icon"
          },
          {
            "type":"text",
            "id":"text",
            "label":"Icon Text"
          }
         ]
      }
   ],
   "presets":[
      {
         "name":"Icons Section"
      }
   ]
}
{% endschema %}
