{% style %}
    .icons-section {
      --topSpacingRatio: {{section.settings.top_spacing}} / 100;
      --bottomSpacingRatio: {{section.settings.bottom_spacing}} / 100;
    }
 {% endstyle %}

<div id="Icons-section-{{ section.id }}" class="icons-section color-{{section.settings.color_scheme}}"  
>
   <div class="icons-section__text">
      {% if section.settings.caption %}
         <span class="icons-section__text__caption">{{ section.settings.caption }}</span>
      {% endif %}
      {% if section.settings.heading %}
         <h2 class="icons-section__text__heading">{{ section.settings.heading }}</h2>
      {% endif %}
      {% if section.settings.text %}
         <p class="icons-section__text__text">{{ section.settings.text }}</p>
      {% endif %}
   </div>
   <div>
      {%- for block in section.blocks -%}
         {%- case block.type -%}
            {%- when 'image' -%}
               <img srcset="{%- if collection.image.src.width >= 165 -%}{{ block.settings.icon.src | img_url: '165x' }} 165w,{%- endif -%}
              {%- if block.settings.icon.src.width >= 360 -%}{{ block.settings.icon.src | img_url: '360x' }} 360w,{%- endif -%}
              {%- if block.settings.icon.src.width >= 533 -%}{{ block.settings.icon.src | img_url: '533x' }} 533w,{%- endif -%}
              {%- if block.settings.icon.src.width >= 720 -%}{{ block.settings.icon.src | img_url: '720x' }} 720w,{%- endif -%}
              {%- if block.settings.icon.src.width >= 1000 -%}{{ block.settings.icon.src | img_url: '1000x' }} 1000w,{%- endif -%}
              {%- if block.settings.icon.src.width >= 1500 -%}{{ block.settings.icon.src | img_url: '1500x' }} 1500w,{%- endif -%}
              {{ block.settings.icon.src | img_url: 'master' }} {{ block.settings.icon.src.width }}w"
            src="{{ block.settings.icon.src | img_url: '533x' }}"
            sizes="100vw"
            alt="{{ block.settings.icon.src.alt | escape }}"
            loading="lazy"
            width="{{ collection.image.width }}"
            height="{{ collection.image.height }}"
          >>
               <p>{{block.settings.text }}</p>
         {%- endcase -%}
      {%- endfor -%}
   </div>
</div>

{% schema %}
{
  "name": "Icons Section",
  "tag": "section",
  "class": "section",
   "settings":[
       {
         "type":"text",
         "id":"caption",
         "label":"Caption"
      },
      {
         "type":"text",
         "id":"heading",
         "label":"Heading"
      },
       {
         "type":"textarea",
         "id":"text",
         "label":"Text Content"
      },
      {
         "type":"select",
         "id":"color_scheme",
         "options":[
            {
               "value":"cream",
               "label":"Cream (Default)"
            },
            {
               "value":"dark-cream",
               "label":"Dark Cream"
            },
            {
               "value":"grass",
               "label":"Grass"
            },
            {
               "value":"sun",
               "label":"Sun"
            },
            {
               "value":"ground",
               "label":"Ground"
            },
            {
               "value":"sky",
               "label":"Sky"
            },
            {
               "value":"tan",
               "label":"Tan"
            }
         ],
         "default":"cream",
         "label":"Color Scheme"
      },
      {
         "type":"range",
         "id":"top_spacing",
         "min":0,
         "max":100,
         "step":10,
         "unit":"%",
         "label":"Top Spacing",
         "default":50
      },
      {
         "type":"range",
         "id":"bottom_spacing",
         "min":0,
         "max":100,
         "step":10,
         "unit":"%",
         "label":"Bottom Spacing",
         "default":50
      }
   ],
   "blocks":[
      {
         "type":"image",
         "name":"Icon",
         "settings":[
          {
            "type":"image_picker",
            "id":"icon",
            "label":"Icon"
          },
          {
            "type":"text",
            "id":"text",
            "label":"Icon Text"
          }
         ]
      }
   ],
   "presets":[
      {
         "name":"Icons Section"
      }
   ]
}
{% endschema %}
