{% style %}
    #Section-image-{{ section.id }} {
      --topSpacingRatio: {{section.settings.top_spacing}} / 100;
      --bottomSpacingRatio: {{section.settings.bottom_spacing}} / 100;
    }

    {% if section.settings.nav_color == true %}
      .site-header.__style-relative:not(.__dropdown-open):not(.__overlay-open) {
         {% if section.settings.text_color == 'light' %}
            --color-foreground: white;
         {% endif %}
      }
    {% endif %}
{% endstyle %}

<div id="Section-image-{{ section.id }}" class="section-image __style-{{ section.settings.image_style}} color-{{section.settings.color_scheme}}"  
>
  {%- if section.settings.image != blank -%}
    <div class="section-image__image-container __style-{{ section.settings.image_style }}">
      {% render 'next-gen-img', image: section.settings.image %}
    </div>

    {% comment %}
    Not used in final design, but good to keep
      <div class="section-image__blob">
        <div class="section-image__blob__image" style="background-image: url({{ section.settings.image | image_url: width: 1500 }})"></div>
      </div>
    {% endcomment %}
      
  {%- endif -%}
</div>

{% schema %}
{
  "name": "Image",
  "tag": "section",
  "class": "section-image__wrapper",
  "settings": [
    {
        "type": "header",
        "content": "Image Options"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "Please select an image at least 1.5 times wider than it is tall."
    },
    {
      "type": "select",
      "id": "image_style",
      "options": [
        {
          "value": "fullwidth",
          "label": "Max Height"
        },
        {
          "value": "fullheight",
          "label": "Full Height"
        }
      ],
      "default": "fullwidth",
      "label": "Image Style"
    },
    {
        "type": "checkbox",
        "id": "nav_color",
        "label": "Set the navigation's text color?",
        "info": "Have main navigation text color be white. Useful to create contrast between the nav and this image, if this is the first section on the page. If this is selected for multiple sections on the same page, only the last section's settings will apply."
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "cream",
          "label": "Cream (Default)"
        },
        {
          "value": "dark-cream",
          "label": "Dark Cream"
        },
        {
          "value": "grass",
          "label": "Grass"
        },
        {
          "value": "sun",
          "label": "Sun"
        },
        {
          "value": "ground",
          "label": "Ground"
        },
        {
          "value": "sky",
          "label": "Sky"
        },
        {
          "value": "tan",
          "label": "Tan"
        }
      ],
      "default": "cream",
      "label": "Color Scheme"
    },
    {
      "type": "header",
      "content": "Section Spacing"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Top Spacing",
      "default": 0
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Bottom Spacing",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "Image"
    }
  ]
}
{% endschema %}
