<article class="main-article" itemscope itemtype="http://schema.org/BlogPosting">

  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when '@app' -%}
        <div class="main-article__app-block">
          {% render block %}
        </div>
    {%- endcase -%}
  {%- endfor -%}

  <div class="breadcrumb">
    {% if settings.resources_page and settings.resources_page.title %}
      <a href="{{ settings.resources_page.url }}" class="caption-sm">{{ settings.resources_page.title }}</a>
      {% render 'svg-arrow' %}
    {% endif %}
    <a href="{{ blog.url }}" class="main-article__breadcrumb__link caption-sm">
      {{ blog.title }}
    </a>
    {% render 'svg-arrow' %}
    <span class="main-article__breadcrumb__current caption-sm">{{article.title}}</span>
  </div>

  <header class="main-article__header" {{ block.shopify_attributes }}>
    <h1 class="main-article__header__title" itemprop="headline">{{ article.title | escape }}</h1>
    <span class="main-article__header__author caption" itemprop="author" itemscope itemtype="http://schema.org/Person">
      <span itemprop="name">{{ article.author }}</span>
    </span>
    <span class="main-article__header__date caption" itemprop="dateCreated pubdate datePublished">{{ article.published_at | time_tag: format: 'date' }}</span>
  </header>

  {%- if article.image -%}
    <div class="main-article__image" {{ block.shopify_attributes }} itemprop="image">
      <img
        srcset="{% if article.image.width >= 350 %}{{ article.image | img_url: '350x' }} 350w,{% endif %}
          {% if article.image.width >= 750 %}{{ article.image | img_url: '750x' }} 750w,{% endif %}
          {% if article.image.width >= 1100 %}{{ article.image | img_url: '1100x' }} 1100w,{% endif %}
          {% if article.image.width >= 1500 %}{{ article.image | img_url: '1500x' }} 1500w,{% endif %}
          {% if article.image.width >= 2200 %}{{ article.image | img_url: '2200x' }} 2200w,{% endif %}
          {% if article.image.width >= 3000 %}{{ article.image | img_url: '3000x' }} 3000w,{% endif %}
          {{ article.image | img_url: 'master' }} {{ article.image.width }}w"
        sizes="100vw"
        src="{{ article.image | img_url: '1100x' }}"
        loading="lazy"
        width="{{ article.image.width }}"
        height="{{ article.image.height }}"
        alt="{{ article.image.alt | escape }}">
    </div>
  {%- endif -%}



  <div class="main-article__content __article-txt" itemprop="articleBody" {{ block.shopify_attributes }}>
    {{ article.content }}
  </div>

  {% render 'share-article' %}
  
  {% render 'article-comments' %}

</article>


{% render 'related-articles' article: article, blog: blog %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "articleBody": {{ article.content | strip_html | json }},
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": {{ shop.url | append: page.url | json }}
    },
    "headline": {{ article.title | json }},
    {% if article.excerpt != blank %}
      "description": {{ article.excerpt | strip_html | json }},
    {% endif %}
    {% if article.image %}
      {% assign image_size = article.image.width | append: 'x' %}
      "image": [
        {{ article | img_url: image_size | prepend: "https:" | json }}
      ],
    {% endif %}
    "datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "dateCreated": {{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "author": {
      "@type": "Person",
      "name": {{ article.author | json }}
    },
    "publisher": {
      "@type": "Organization",
      {% if settings.share_image %}
        {% assign image_size = settings.share_image.width | append: 'x' %}
        "logo": {
          "@type": "ImageObject",
          "height": {{ settings.share_image.height | json }},
          "url": {{ settings.share_image | img_url: image_size | prepend: "https:" | json }},
          "width": {{ settings.share_image.width | json }}
        },
      {% endif %}
      "name": {{ shop.name | json }}
    }
  }
  </script>


{% schema %}
{
  "name": "t:sections.main-article.name",
  "tag": "section",
  "class": "section",
  "blocks": [
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
