
{% style %}
    #Spec-sheet-{{ section.id }} {
      --topSpacingRatio: {{section.settings.top_spacing}} / 100;
      --bottomSpacingRatio: {{section.settings.bottom_spacing}} / 100;
    }
 {% endstyle %}

<div id="Spec-sheet-{{ section.id }}" class="spec-sheet color-{{section.settings.color_scheme}}">
   {% if section.settings.label %}
      <p class="split-section__text__label">{{ section.settings.label }}</h2>
   {% endif %}
</div>

{% schema %}
{
  "name": "Spec Sheet",
  "tag": "section",
  "class": "section",
  "settings": [
    {
        "type":"text",
        "id":"label",
        "label": "All Categories Label"
      },
      {
         "type":"select",
         "id":"color_scheme",
         "options":[
            {
               "value":"cream",
               "label":"Cream (Default)"
            },
            {
               "value":"dark-cream",
               "label":"Dark Cream"
            },
            {
               "value":"grass",
               "label":"Grass"
            },
            {
               "value":"sun",
               "label":"Sun"
            },
            {
               "value":"ground",
               "label":"Ground"
            },
            {
               "value":"sky",
               "label":"Sky"
            },
            {
               "value":"tan",
               "label":"Tan"
            }
         ],
         "default":"cream",
         "label":"Color Scheme"
      },
      {
         "type":"range",
         "id":"top_spacing",
         "min":0,
         "max":100,
         "step":10,
         "unit":"%",
         "label":"Top Spacing",
         "default":50
      },
      {
         "type":"range",
         "id":"bottom_spacing",
         "min":0,
         "max":100,
         "step":10,
         "unit":"%",
         "label":"Bottom Spacing",
         "default":50
      }
  ],
  "presets": [
    {
      "name": "Spec Sheet"
    }
  ]
}
{% endschema %}
