{% style %}
    #Spec-sheets-{{ section.id }} {
      --topSpacingRatio: {{section.settings.top_spacing}} / 100;
      --bottomSpacingRatio: {{section.settings.bottom_spacing}} / 100;
    }
 {% endstyle %}


{% comment %} Make sure user added items {% endcomment %}
{% if section.blocks.size > 0 %}

   <div id="Spec-sheets-{{ section.id }}" class="spec-sheets color-{{section.settings.color_scheme}}">
      <div class="spec-sheets__info">
         {% if section.settings.sustainably_sourced != "" %}
            <div class="spec-sheets__info__key">
               {% render 'icon-fair-trade' %}
               <div class="spec-sheets__info__key__text">
                  {% if section.settings.sustainably_link == "" %}
                  <p>{{ section.settings.sustainably_sourced }}</p>
                  {%- else -%}
                  <a href= "{{ section.settings.sustainably_link }}" >{{ section.settings.sustainably_sourced }}</a>
                  {% endif %}
                  {% if section.settings.fair_trade_disclaimer != "" %}
                     <p class="p-sm">{{ section.settings.fair_trade_disclaimer }}</p>
                  {% endif %}
                  </div>
            </div>
         {% endif %}

         <div class="spec-sheets__info__search">
            <label for="search">Search:</label>
            <input class="spec-sheets__info__search__input" type="text" id="search" name="search">
         </div>
      </div>

      {% comment %} Table header {% endcomment %}
      {% if section.settings.hide_header == false %}
         <div class="spec-sheets__header color-{{ section.settings.table_color }}">
            <div class="spec-sheets__header__inner">
               <p class="caption-sm common-name">{{section.settings.common_name_label}}</p>
               <p class="caption-sm botanical-name">{{section.settings.botanical_name_label}}</p>
               <p class="caption-sm spec-sheets__header__inner__product-code">{{section.settings.product_code_label}}</p>
               {% comment %} <p class="caption-sm">{{section.settings.organic_label}}</p>
               <p class="caption-sm">{{section.settings.fair_trade_label}}</p> {% endcomment %}
            </div>
         </div> 
   {% endif %}

      {% comment %} Loop through items {% endcomment %}
      {%- for block in section.blocks -%}
         {% if block.settings.common_name %}

         {% comment %} Output item {% endcomment %}
         <div class="spec-sheets__item __active  color-{{ section.settings.table_color }}">
            <input class="spec-sheets__item__checkbox" type="checkbox" id="Item-{{ section.id }}-{{ forloop.index0 }}">
            <label class="spec-sheets__item__label" for="Item-{{ section.id }}-{{ forloop.index0 }}">
               <p class="p-sm common-name">{{ block.settings.common_name }}</p>
               <p class="p-sm botanical-name">{{ block.settings.botanical_name }}</p>
               <p class="p-sm spec-sheets__item__label__product-code">{{ block.settings.product_code }}</p>
               
               <div 
                  class="spec-sheets__item__icon {% if block.settings.fair_trade != "yes" %}hidden{% endif %}" 
               >{% render 'icon-fair-trade' %}</div>
            </label>
            <div class="spec-sheets__item__content __article-txt">
               <div class="spec-sheets__item__content__inner">
                  {{ block.settings.description }}
               </div>
            </div>
         </div>
         {% endif %}
   {%- endfor -%}
   </div>
{% endif %}


{% javascript %}

  class AccordionsNavButton extends HTMLElement {
    constructor() {
      super();

      this.setupListener();
    }
  }

 //Ingredients Filter

 let searchField = document.querySelector('.spec-sheets__info__search__input');
 let filterValue = '';

  searchField.addEventListener("input", function() {
    filterValue=searchField.value.toLowerCase();
    console.log(filterValue,'filtervalue here');
     allItems.map((name)=>{
      if(name.innerHTML.toLowerCase().includes(filterValue)){
         name.classList.remove('hide');
      }
      else{
         name.classList.add('hide');
      }
    })
  });

  let allItems = document.querySelectorAll('.spec-sheets__item');
  allItems = [...allItems];

{% endjavascript %}


{% schema %}
{
  "name": "Spec Sheets",
  "tag": "section",
  "class": "section spec-sheets__parent",
  "settings": [
    {
      "type": "text",
      "id": "common_name_label",
      "label": "Common Name Label",
      "default": "Common Name"
    },
    {
      "type": "text",
      "id": "botanical_name_label",
      "label": "Botanical Name Label",
      "default": "Botanical Name"
    },
    {
      "type": "text",
      "id": "product_code_label",
      "label": "Product Code Label",
      "default": "Product Code"
    },
    {
      "type": "text",
      "id": "all_ingredients_label",
      "label": "All Ingredients Label",
      "default": "All Ingredients"
    },
    {
      "type": "text",
      "id": "sustainably_sourced",
      "label": "Sustainably Sourced",
      "default": "Not working"
    },
    {
      "type":"url",
      "id":"sustainably_link",
      "label":"Sustainably Sourced Link"
    },
    {
      "type": "text",
      "id": "fair_trade_disclaimer",
      "label": "Fair-Trade Label",
      "default": "*Fair-Trade available upon request"
    },
    {
      "type": "checkbox",
      "id": "hide_header",
      "label": "Hide table header?"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "cream",
          "label": "Cream (Default)"
        },
        {
          "value": "dark-cream",
          "label": "Dark Cream"
        },
        {
          "value": "grass",
          "label": "Grass"
        },
        {
          "value": "sun",
          "label": "Sun"
        },
        {
          "value": "ground",
          "label": "Ground"
        },
        {
          "value": "sky",
          "label": "Sky"
        },
        {
          "value": "tan",
          "label": "Tan"
        }
      ],
      "default": "cream",
      "label": "Color Scheme"
    },
    {
      "type": "select",
      "id": "table_color",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "cream",
          "label": "Cream (Default)"
        },
        {
          "value": "dark-cream",
          "label": "Dark Cream"
        },
        {
          "value": "grass",
          "label": "Grass"
        },
        {
          "value": "sun",
          "label": "Sun"
        },
        {
          "value": "ground",
          "label": "Ground"
        },
        {
          "value": "sky",
          "label": "Sky"
        },
        {
          "value": "tan",
          "label": "Tan"
        }
      ],
      "default": "sky",
      "label": "Table Header Color"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Top Spacing",
      "default": 50
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Bottom Spacing",
      "default": 50
    }
  ],
  "blocks": [
    {
      "name": "Item",
      "type": "item",
      "settings": [
        {
          "type": "text",
          "id": "common_name",
          "label": "Common Name"
        },
        {
          "type": "text",
          "id": "botanical_name",
          "label": "Botanical Name"
        },
        {
          "type": "text",
          "id": "product_code",
          "label": "Product Code"
        },
        {
          "type": "select",
          "id": "fair_trade",
          "options": [
            {
              "value": "no",
              "label": "No"
            },
            {
              "value": "yes",
              "label": "Yes"
            },
            {
              "value": "on_request",
              "label": "On Request"
            }
          ],
          "default": "no",
          "label": "Fair Trade?"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Spec Sheets"
    }
  ]
}
{% endschema %}