
{% style %}
    .split-section {
      --topSpacingRatio: {{section.settings.top_spacing}} / 100;
      --bottomSpacingRatio: {{section.settings.bottom_spacing}} / 100;
    }
 {% endstyle %}

<div id="Split-text-{{ section.id }}" class="split-text color-{{section.settings.color_scheme}}">
   <div class="split-section__text">      
    {% if section.settings.heading %}
      <h1 class="split-section__text__heading {{ section.settings.heading_size }}">{{ section.settings.heading }}</h1>
    {% endif %}
     {% if section.settings.text %}
      <h1 class="split-section__text__heading {{ section.settings.heading_size }}">{{ section.settings.text }}</h1>
    {% endif %}
      {% if section.settings.button_link %}
         <a href={{section.settings.button_link}}>{{section.settings.button_label}}</a>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Split Text",
  "tag": "section",
  "class": "section",
  "settings": [
      {
        "type":"text",
        "id":"heading",
        "label": "Heading"
      },
      {
        "type":"richtext",
        "id":"text",
        "label": "Text Content"
      },
      {
         "type": "header",
         "content": "Button"
      },       
      {
         "type": "text",
         "id": "button_label",
         "default": "Button label",
         "label": "Button Label"
      },
      {
         "type": "url",
         "id": "button_link",
         "label": "Button Link"
      },
      {
         "type":"select",
         "id":"color_scheme",
         "options":[
            {
               "value":"cream",
               "label":"Cream (Default)"
            },
            {
               "value":"dark-cream",
               "label":"Dark Cream"
            },
            {
               "value":"grass",
               "label":"Grass"
            },
            {
               "value":"sun",
               "label":"Sun"
            },
            {
               "value":"ground",
               "label":"Ground"
            },
            {
               "value":"sky",
               "label":"Sky"
            },
            {
               "value":"tan",
               "label":"Tan"
            }
         ],
         "default":"cream",
         "label":"Color Scheme"
      },
      {
         "type":"range",
         "id":"top_spacing",
         "min":0,
         "max":100,
         "step":10,
         "unit":"%",
         "label":"Top Spacing",
         "default":50
      },
      {
         "type":"range",
         "id":"bottom_spacing",
         "min":0,
         "max":100,
         "step":10,
         "unit":"%",
         "label":"Bottom Spacing",
         "default":50
      }
  ],
  "presets": [
    {
      "name": "Split Text"
    }
  ]
}
{% endschema %}
