<div id="Split-section-{{ section.id }}" class="split-section color-{{section.settings.color_scheme}}">
  <div class="split-section__text">        
    <h2 class="split-section__text__heading {{ block.settings.heading_size }}" {{ block.shopify_attributes }}>{{ block.settings.heading | escape }}</h2>

    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'text' -%}
          <div class="split-section__text__rich-text" {{ block.shopify_attributes }}>{{ block.settings.text }}</div>
        {%- when 'button' -%}
          <a {% if block.settings.button_link == blank %} role="link" aria-disabled="true"{% else %} href="{{ block.settings.button_link }}"{% endif %} {{ block.shopify_attributes }}>
            {{ block.settings.button_label | escape }}
          </a>
      {%- endcase -%}
    {%- endfor -%}
  </div>
  <div class="split-section__image">
    Image
  </div>
</div>

{% schema %}
{
  "name": "Split section",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Talk about your brand",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "Large"
        },
        {
          "value": "h3",
          "label": "Medium"
        }
      ],
      "default": "h2",
      "label": "Heading Size"
    },
    {
      "type": "checkbox",
      "id": "hero",
      "label": "Use as hero?",
      "info": "Should be selected if this section is the first or second on a page and contains the page title. There should only be one page title/hero used per page."
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "Auto-cropped to fill available space."
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "color-cream",
          "label": "Cream (Default)"
        },
        {
          "value": "color-dark-cream",
          "label": "Dark Cream"
        },
        {
          "value": "color-grass",
          "label": "Grass"
        },
        {
          "value": "color-sun",
          "label": "Sun"
        },
        {
          "value": "color-ground",
          "label": "Ground"
        },
        {
          "value": "color-sky",
          "label": "Sky"
        },
        {
          "value": "color-tan",
          "label": "Tan"
        }
      ],
      "default": "color-cream",
      "label": "Color Scheme"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Talk about your brand",
          "label": "Heading"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>",
          "label": "Description"
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "Button Label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Split section",
      "blocks": [
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
