{% style %}
    #Split-text-{{ section.id }} {
      --topSpacingRatio: {{section.settings.top_spacing}} / 100;
      --bottomSpacingRatio: {{section.settings.bottom_spacing}} / 100;
    }
 {% endstyle %}

<div id="Split-text-{{ section.id }}" class="split-text color-{{section.settings.color_scheme}}">
   {% if section.settings.heading %}
      <h2 class="split-text__heading h4">{{ section.settings.heading }}</h2>
   {% endif %}
   <div class="split-text__content">
      {% if section.settings.text %}
         <div class="split-section__content__text">{{ section.settings.text }}</div>
      {% endif %}
      {% if section.settings.button_link and section.settings.button_label %}
         <a class="btn" href="{{section.settings.button_link}}">{{section.settings.button_label}}</a>
      {% endif %}
   </div>
</div>

{% schema %}
{
  "name": "Split Text",
  "tag": "section",
  "class": "section",
  "settings": [
      {
         "type": "header",
         "content": "Text Content"
      },
      {
         "type":"text",
         "id":"heading",
         "label": "Heading",
         "default": "Heading"
      },
      {
         "type":"richtext",
         "id":"text",
         "label": "Text Content",
         "default": "<p>Add your text content.</p>"
      },
      {
         "type": "header",
         "content": "Button"
      },       
      {
         "type": "text",
         "id": "button_label",
         "default": "Button label",
         "label": "Button Label"
      },
      {
         "type": "url",
         "id": "button_link",
         "label": "Button Link"
      },
      {
         "type": "header",
         "content": "Settings"
      },
      {
         "type":"select",
         "id":"color_scheme",
         "options":[
            {
               "value":"cream",
               "label":"Cream (Default)"
            },
            {
               "value":"dark-cream",
               "label":"Dark Cream"
            },
            {
               "value":"grass",
               "label":"Grass"
            },
            {
               "value":"sun",
               "label":"Sun"
            },
            {
               "value":"ground",
               "label":"Ground"
            },
            {
               "value":"sky",
               "label":"Sky"
            },
            {
               "value":"tan",
               "label":"Tan"
            }
         ],
         "default":"cream",
         "label":"Color Scheme"
      },
      {
         "type":"range",
         "id":"top_spacing",
         "min":0,
         "max":100,
         "step":10,
         "unit":"%",
         "label":"Top Spacing",
         "default":50
      },
      {
         "type":"range",
         "id":"bottom_spacing",
         "min":0,
         "max":100,
         "step":10,
         "unit":"%",
         "label":"Bottom Spacing",
         "default":50
      }
  ],
  "presets": [
    {
      "name": "Split Text"
    }
  ]
}
{% endschema %}
