{% style %}
    #Temp-product-{{ section.id }} {
      --topSpacingRatio: {{section.settings.top_spacing}} / 100;
      --bottomSpacingRatio: {{section.settings.bottom_spacing}} / 100;
    }
{% endstyle %}

{% assign images = "https://cdn.shopify.com/s/files/1/0562/9486/6967/articles/unsplash_pBwMdofMxtU_350x.jpg?v=1646062936,https://cdn.shopify.com/s/files/1/0562/9486/6967/articles/unsplash_pBwMdofMxtU_350x.jpg?v=1646062936,https://cdn.shopify.com/s/files/1/0562/9486/6967/articles/unsplash_pBwMdofMxtU_350x.jpg?v=1646062936,https://cdn.shopify.com/s/files/1/0562/9486/6967/articles/unsplash_pBwMdofMxtU_350x.jpg?v=1646062936" | split: "," %}


<div id="Temp-product-{{ section.id }}" class="temp-product color-{{section.settings.color_scheme}}"  
>
  <ul class="breadcrumb"> 
    <li><a href="/">All Ingredients</a></li>
      {% render 'svg-caret' %}
    <li><a href="/">Culinary Herbs, Spices, & vegetables</a></li>
</ul>
  <div class="temp-product__container">
    <div class="temp-product__content">
      <div class="temp-product__headline">
        <div>
          <div class="temp-product__text p-xs caption-with-letter-spacing">Baso</div>
          <h1 class="temp-product__title">Basil</h1>
        </div>
        <img src="https://cdn.shopify.com/s/files/1/0562/9486/6967/files/Commence_x_Pure_Ground_-_Organic_Badge_-_Green_1.png?v=1647765751" loading="lazy" height="84" width="141"/>
      </div>

      <div class="temp-product__price">
        <p class="h4">$19.99</p>
        <a href="/" class="caption-sm">LOG IN FOR WHOLESALE PRICING</a>
      </div>

      <p class="temp-product__description">With a sweet and slightly peppery flavor, this herb pairs well with balsamic vinegar, blackberry, and lemon.</p>

      <table class="temp-product__info p-xs">
        <tr><td>Product ID</td><td class="temp-product__info__dots">.............</td><td>BASO</td></tr>
        <tr><td>Product ID</td><td class="temp-product__info__dots">.............</td><td>BASO</td></tr>
        <tr><td>Product ID</td><td class="temp-product__info__dots">.............</td><td>BASO</td></tr>
        <tr><td>Product ID</td><td class="temp-product__info__dots">.............</td><td>BASO</td></tr>
        <tr><td>Product ID</td><td class="temp-product__info__dots">.............</td><td>BASO</td></tr>
      </table>

      <p class="temp-product__fair-trade p-xs">Fair Trade Available on request</p>

      <form>
        <div class="temp-product__case">
          <label class="p-sm">Case Size</label>
          <div class="temp-product__case__options p-sm">
            <span>1 lb Bag</span>
            <span>1 lb Bag</span>
            <span>1 lb Bag</span>
            <span>1 lb Bag</span>
          </div>
      </div>
      

      <div class="temp-product__type">
        <label class="p-sm">Type</label>
        <div class="temp-product__type__options p-sm">
          <span>Powder</span>
          <span>Powder</span>
          <span>Powder</span>
          <span>Powder</span>
          <span>Powder</span>
          <span>Powder</span>
          <span>Powder</span>
          <span>Powder</span>
        </div>
      </div>

        <div class="temp-product__add-to-cart">
          <input class="temp-product__quantity-input caption-sm" type="number" value="1" />
          <input class="btn" href="/" type="submit" value="Add to cart">
          <a class="btn __btn-clr-default" href="/">Request C of A Results</a>
        </div>
        <a href="/">Request a sample</a>
      </form>
    </div>

    <div class="temp-product__sliders">
    <div class="temp-product__slider" data-flickity='{ 
      "wrapAround": true,  "pageDots": false, "prevNextButtons": false }'
    >
      {% for image in images %}
        {% render 'next-gen-img' image: image %}
      {% endfor %}
      {% comment %} add whatever structure is required for asNavFor {% endcomment %}
    </div>

      <div class="temp-product__slider-nav" data-flickity='{"asNavFor": ".temp-product__slider", "contain": true, "pageDots": false}'
    >
      {% for image in images %}
        {% render 'next-gen-img' image: image %}
      {% endfor %}
      {% comment %} add whatever structure is required for asNavFor {% endcomment %}
    </div>
  </div>
    

  </div>

  <div>
  <nav class="temp-product__tabs-nav">
    <ul>
      <li><info-button class="info-button caption __active" data-tab="description">Description</info-button></li>
      <li><info-button class="info-button caption" data-tab="best-uses">Best Uses</info-button></li>
      <li><info-button class="info-button caption" data-tab="related-articles">Related Articles</info-button></li>
      <li><info-button class="info-button caption" data-tab="spec-sheet">Spec Sheet</info-button></li>
    </ul>
  </nav>

  <div class="temp-product__tabs">
    <div class="tab-content __active" data-tab="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim a, curabitur interdum sed nullam nunc. Sit sem vestibulum est cursus cursus lectus egestas. Ut nisl a, non dictum auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim a, curabitur interdum sed nullam nunc. Sit sem vestibulum est cursus cursus lectus egestas. Ut nisl a, non dictum auctor.</div>
    <div class="tab-content" data-tab="best-uses">Quisque condimentum, arcu congue vulputate bibendum, libero ligula congue ante, a fermentum nulla ex vel lacus. Morbi nec cursus dui. Sed quis euismod leo. Suspendisse rutrum urna in enim cursus, ac posuere arcu suscipit. In porttitor magna sollicitudin, gravida dui quis, aliquam lorem. Donec at tempus lacus. Nunc et tellus iaculis, tempor nisl faucibus, sodales orci. Integer interdum placerat pulvinar.</div>
    <div class="tab-content" data-tab="related-articles">Aenean sed maximus nibh. Praesent scelerisque, nunc non ultrices ornare, diam leo fringilla ipsum, sed finibus libero elit vel ipsum. Donec mollis sollicitudin tortor, eu scelerisque urna rhoncus ut. Nulla facilisi. Sed egestas est nec est consectetur cursus.</div>
    <div class="tab-content" data-tab="spec-sheet">Mauris at euismod nisl. Praesent justo nisi, accumsan id tortor at, malesuada volutpat mauris. Morbi semper cursus leo. Vestibulum feugiat molestie tellus non auctor. Aenean a orci porttitor, tincidunt urna non, pretium urna. Vestibulum eget tristique mi. Pellentesque feugiat venenatis dui, venenatis bibendum sapien eleifend nec. </div>        
  </div>
  </div>
</div>

{% javascript %}

  class InfoNavButton extends HTMLElement {
    constructor() {
      super();

      this.setupListener();
    }

    //Add a on click listener to every button for product info
    setupListener() {
      this.addEventListener('click', this.updateInfo.bind(this));
    }

    //on tab nav button click, updates what is active
    updateInfo() {

      //parent element for this section
      var thisSection = this.parentNode.parentNode.parentNode.parentNode;
      console.log(thisSection,'this section');
      //clicked on item's tab
      var tab = this.getAttribute('data-tab');
      //all tabs in this section
      var infoItems = thisSection.querySelectorAll('.tab-content');
            console.log(infoItems, 'infoItems');
      //all nav buttons
      var infoNavItems = thisSection.querySelectorAll('.info-button');
      console.log(infoNavItems, 'info nav items');

      //remove or add active class on buttons
      for ( var i = 0; i < infoItems.length; i++ ){
        if (infoItems[i].getAttribute('data-tab') == tab ){
          infoItems[i].classList.add('__active');
        }
        else {
          infoItems[i].classList.remove('__active');
        }
      }

      //remove active class on nav buttons
      for (var i = 0; i < infoNavItems.length; i++ ) {
        infoNavItems[i].classList.remove('__active');
      }

      //add active class on clicked item
      this.classList.add('__active');
    }
  }

  customElements.define('info-button', InfoNavButton);

{% endjavascript %}

{% schema %}
{
  "name": "Temp Product",
  "tag": "section",
  "class": "temp-product__wrapper",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "cream",
          "label": "Cream (Default)"
        },
        {
          "value": "dark-cream",
          "label": "Dark Cream"
        },
        {
          "value": "grass",
          "label": "Grass"
        },
        {
          "value": "sun",
          "label": "Sun"
        },
        {
          "value": "ground",
          "label": "Ground"
        },
        {
          "value": "sky",
          "label": "Sky"
        },
        {
          "value": "tan",
          "label": "Tan"
        }
      ],
      "default": "cream",
      "label": "Color Scheme"
    },
    {
      "type": "header",
      "content": "Section Spacing"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Top Spacing",
      "default": 0
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Bottom Spacing",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "Temp Product"
    }
  ]
}
{% endschema %}
