{% style %}
    #Related-products-{{ section.id }} {
      --topSpacingRatio: {{section.settings.top_spacing}} / 100;
      --bottomSpacingRatio: {{section.settings.bottom_spacing}} / 100;
    }
 {% endstyle %}

<div id="Related-products-{{ section.id }}" class="related-products color-{{section.settings.color_scheme}}">
    {% if section.settings.heading %}
      <h2 class="split-section__text__heading">{{ section.settings.heading }}</h2>
    {% endif %}
</div>

{% schema %}
{
  "name": "Related Products",
  "tag": "section",
  "class": "section",
   "settings":[
      {
         "type": "header",
         "content": "Text Content"
      },
      {
        "type":"text",
        "id":"heading",
        "label": "Heading",
        "default": "Heading"
      },
      {
         "type": "header",
         "content": "Settings"
      },
      {
         "type":"select",
         "id":"color_scheme",
         "options":[
            {
               "value":"cream",
               "label":"Cream (Default)"
            },
            {
               "value":"dark-cream",
               "label":"Dark Cream"
            },
            {
               "value":"grass",
               "label":"Grass"
            },
            {
               "value":"sun",
               "label":"Sun"
            },
            {
               "value":"ground",
               "label":"Ground"
            },
            {
               "value":"sky",
               "label":"Sky"
            },
            {
               "value":"tan",
               "label":"Tan"
            }
         ],
         "default":"cream",
         "label":"Color Scheme"
      },
      {
         "type":"range",
         "id":"top_spacing",
         "min":0,
         "max":100,
         "step":10,
         "unit":"%",
         "label":"Top Spacing",
         "default":50
      },
      {
         "type":"range",
         "id":"bottom_spacing",
         "min":0,
         "max":100,
         "step":10,
         "unit":"%",
         "label":"Bottom Spacing",
         "default":50
      }
   ]
}
{% endschema %}
